<li>


  <div class = "input_field">

    <% if !flash[:parameter_error].nil? %>
      <div id="error">
        <p><%= flash[:parameter_error] %></p>
        <div class="clear"></div>
      </div>
    <% end %>


  <h3>Please enter the attributes for a single parameter below</h2>

    <form class="input-choice" method='POST' action='<%= form_entries_url(params[:id])%>'>

      <label class='protected'>Name input:
        <input type="text" name='field[name]'></input>
                <br>
      </label>



      <label class='protected'>Label Input:
        <input type="text" name='field[label]'></input>
      </label>
      <br>
      <label id="entry-choices" >Please choose the type of input:
        <br>
        <table border="1">
      <tr>
        <input id="entry-choices" type="radio" class="select-button" name ='field[input_tag_type]' value="text_field" checked>Single Line Text</input>
        <input id="entry-choices" type="radio" class="select-button" name ='field[input_tag_type]' value="password_field">Password</input>
        <input id="entry-choices" type="radio" class="select-button" name ='field[input_tag_type]' value="text_area">Paragraph Text</input>
      </tr>
      <br>
      <tr>
        <input id="entry-choices" type="radio" class="select-button" name ='field[input_tag_type]' value="number_field">Number</input>
        <input id="entry-choices" type="radio" class="date" name ='field[input_tag_type]' value="date_select">Date</input>
        <input id="entry-choices" type="radio" class="date-time" name ='field[input_tag_type]' value="datetime_select">Date & Time </input>
        <input id="entry-choices" type="radio" class="hidden-field" name ='field[input_tag_type]' value="hidden_field">Hidden Field</input>
        </tr>
        <br>
        <tr>
        <input id="entry-choices" type="radio" class="select-button" name ='field[input_tag_type]' value="check_box_tag">Checkboxes</input>
        <input id="entry-choices" type="radio" class="select-button" name ='field[input_tag_type]' value="select_tag">Dropdown</input>
        <input id="entry-choices" type="radio" class="select-button" name ='field[input_tag_type]' value="select_tag_multiple">Multiple Choice</input>
      </tr>
      </table>
        </label>
        <br>
      <div class='text_area'>
      <label class='text_area'>Please choose size of the text field:
      <select name = 'field[size]'>
        <option></option>
        <option value="20">Small</option>
        <option value="30">Medium</option>
        <option value="40">Large</option>
      </select>
        <br>
      </label>
      </div>


    <div class= "text_area text_field date_select datetime_select">
      <label class= "text_area text_field date_select datetime_select">Predefined Value:
      <input class= "text_area text_field date_select datetime_select" type="text" name='field[placeholder]'></input>
    <br>
    </label>
  </div>

      <label class= "protected">Type any instructions for the user in this box:
      <textarea rows="2" cols="20" name='field[instructions]'></textarea>
    <br>
    </label>

      <label class="protected">Add CSS Layout Keywords:
        <input id='CSSkeywords' type="text" name='field[klass]'></input>
        <br></label>

        <!-- NOTE, MAY WANT TO REPLACE THIS WITH A SCRIPT AND A RENDER -->

        <!-- NOTE: THESE NESTED DIVS ARE UGLY, BUT NEED TO ADD NEW CHOICES IN RIGHT SPOT AND YET ALSO HIDE ADD BUTTON ALONG WITH REST OF DIV TOO -->
        <div class="select_tag_multiple check_box_tag select_tag">
        <div class= "choice-collection">

            <br>
          <label id = "mc-select" class="select_tag_multiple check_box_tag select_tag">
            Please enter your multiple choice or checkbox selections below:</label>
            <br>
          <br>
          <div>
            <input type="text" id="mc-select" class="select_tag_multiple check_box_tag select_tag" name='field[collection][]'>
            <button class="delete-button" type='button'>Delete this choice</button>
          </div>
          <div>
           <br>
            <input type="text" id="mc-select" class="select_tag_multiple check_box_tag select_tag" name='field[collection][]'>
            <button class="delete-button" type='button'>Delete this choice</button>
          </div>
          <div>
           <br>
            <input type='text' id="mc-select" class="select_tag_multiple check_box_tag select_tag" name='field[collection][]'>
            <button class='delete-button' type='button'>Delete this choice</button>
          </div>
        </div>

        <br>
          <button type='button' class="select_tag_multiple check_box_tag select_tag" onclick="addChoice()">Add another choice</button>
        <br>
      </label>
      </div>

        <input name="authenticity_token" type="hidden" value='<%= form_authenticity_token%>'>

        <label class='protected'>
          <br>
          Save this Form:
        <input type="submit" class="submit-button" value="Save this form">
      </label>

      </form>
    </div>

</li>