<nav>
  Colors:
  <button>Color 1</button>
  <button>Color 2</button>
  <button>Color 3</button>
  <button>Color 4</button>
  <button>Color 5</button>
  <button>Color 6</button>
  <br>
  Layouts:
  <button>Layout 1</button>
  <button>Layout 2</button>
  <button>Layout 3</button>
  <button>Layout 4</button>
  <button>Layout 5</button>
</nav>
</div>
<br>