<html>
<head>
  <link rel="stylesheet" type="text/css" href="new.css">
</head>
</html>

<section class="main group">

<h1>Create User</h1>

<section class='group display1 center-horizontal padding-top padding-sides shadow-test'>
  <section class="logo">
    <img src="https://highrisehq.com/images/img_wufoo.png">
  </section>



<%= render "form", user: @user%>

</section>

<%- render "footerbar"%>


  </footer>
</section>

</section>