<html>
<head>
  <link rel="stylesheet" type="text/css" href="new.css">
</head>
</html>

<section class="main group">

  <section class='group display1 center-horizontal padding-top padding-sides shadow-test'>
    <section class="logo">
      <img src="https://highrisehq.com/images/img_wufoo.png">
    </section>


<h1><%= @user.username %></h1>

<p>Hello, dear user!</p>

</section>


<footer class='display4 center-horizontal padding-sides shadow-test group'>
  <div class="footer-row group">
    <nav class="footer-list">
      <h3>About Us</h3>
      <ul>
        <li>Test</li>
        <li>Test</li>
        <li>Test</li>
      </ul>
    </nav>
    <nav class="footer-list">
      <h3>Support</h3>
      <ul>
        <li>Test</li>
        <li>Test</li>
        <li>Test</li>
      </ul>
    </nav>
    <nav class="footer-list">
      <h3>Contact</h3>
      <ul>
        <li>Test</li>
        <li>Test</li>
        <li>Test</li>
      </ul>
    </nav>
    <nav class="footer-list">
      <h3>Legal</h3>
      <ul>
        <li>Test</li>
        <li>Test</li>
        <li>Test</li>
      </ul>
    </nav>
  </nav>
  </footer>
</section>

</section>

</section>