<html>
<head>
    <%= stylesheet_link_tag  "application", :media => "all" %>
</head>
</html>


<h1><%= @user.username %></h1>

<p>Hello, dear user!</p>

<%=render "layouts/sales_content"%>

<%= render "layouts/footer"%>

