.display_field {
  padding: 10px;
  height:auto;
}

.display-row{
  display:inline-block;
  border: 1px solid black;
  width: 100%;
  height: 100%;
}


  .left-display-column{
    overflow: hidden;
    clear:both;
    float:left;
    display:inline-block;
    width: 400px;
    border: 1px solid red
  }


  .right-display-column{
    float:right;
    display:inline-block;
    clear:both;
    overflow:auto;
    word-wrap:break-word;
    height:100%;
  }



