.display_field {
  padding: 10px;
  height:auto;
  width:auto;
}

.display-row{
  display:inline-block;
  border: 1px solid black;
  height: 100%;
  width:auto;
}

.right-display-column{

  float:left;
  clear:left;

  height:100%;
  width: 400px;
  margin-left:10px;
  margin-right:10px;
}


  .left-display-column{
    float:right;
    width: 400px;
    border: 1px solid red;
    padding-left:10px;
    word-wrap:break-word;
    overflow:auto;
  }





