body, h1, ul, li, div, section, head, footer, table, td, th, tr, nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border-radius:0;
  font-family:sans-serif;
  text-decoration:none;
}

h1 {
  text-font: comic;
  margin-top:0;
}

h2{
  width:auto;
}

.group:after {
  content:"";
  clear:both;
  display:block;
}

.main {
  width:auto;
  height: auto;
  background: url('/assets/sandpaper.png');
  z-index: 0;
}

.title {
  color:white;
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
  font-size: xx-large;
  color: white; text-shadow: black 0.3em 0.3em 0.4em;
  margin: 0;
}

.display1 {
  background: #a90329;
  background: -moz-radial-gradient(center, ellipse cover, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
  background: -webkit-radial-gradient(center, ellipse cover, #a90329 0%,#8f0222 44%,#6d0019 100%);
  background: -o-radial-gradient(center, ellipse cover, #a90329 0%,#8f0222 44%,#6d0019 100%);
  background: -ms-radial-gradient(center, ellipse cover, #a90329 0%,#8f0222 44%,#6d0019 100%);
  background: radial-gradient(ellipse at center, #a90329 0%,#8f0222 44%,#6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );
  height:100%;
  margin: 5%;
  border-radius:25px;
}

.display2 {
  background-color: clear;
  height:auto;
  padding-right:10px;
  padding-left:10px;
  margin:0;
  display:inline-block;
  width:100%;
}

.display3 {
  background-color: #4FD5D6;
  height:auto;
}

.content{
  float:left;
  text:white;
}

.content-title{
  margin:0;
}

.content-body{
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.display4 {
  background-color: #003399;
  height:auto;
}

.form-div {
  float:right;
  background-color: #D2691E;
  border: 1px solid white;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
  text-align: center;
  padding: 10px;
  height: 160px;
  color:white;
  position: relative;
}

.shadow-test {
box-shadow: 1px 1px 5px #000000;
-moz-box-shadow: 1px 1px 5px #000000;
-webkit-box-shadow: 1px 1px 5px #000000;
}

.session-buttons {
  width:auto;
  height:auto;
  float: left;
}

.button-link{
  text-decoration:none;
  transition: background 0.5s, color 0.5s, box-shadow 0.5s;
  display: block;
  color:white;
}

.nav-bar{
  display: block;
  background-color: clear;
  clear:both;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.nav-button {
  padding:10px;
  display: block;
  height:auto;
  width:auto;
  display: table-cell;
  text-align: center;
  color:white;
  background-color: #003399;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
  border-right:1px solid white;
  border-left:1px solid white;
  border-top:1px solid white;
}

.nav-button:hover{
  background: #4FD5D6 ;
  color: black;
  box-shadow: 1px 1px 5px #000000;
  -moz-box-shadow: 1px 1px 5px #000000;
  -webkit-box-shadow: 1px 1px 5px #000000;
}

.login{
  background-color: green;
  color:  #99CCFF;
  text-align: center;
  border-radius:5px;
  padding: 10px;
  margin-left:10px;
  margin-top:10px;
}

.login:hover{
  background: #006600;
  color: white;
  box-shadow: inset 1px 1px 5px #000000;
  -moz-box-shadow: inset 1px 1px 5px #000000;
  -webkit-box-shadow: inset 1px 1px 5px #000000;
}

.formCreate-button {
 	-moz-box-shadow:inset 1px 1px 0px -3px #f5978e;
 	-webkit-box-shadow:inset 1px 1px 0px -3px #f5978e;
 	box-shadow:inset 1px 1px 0px -3px #f5978e;
 	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
 	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
 	background-color:#f24537;
 	-webkit-border-radius:28px;
 	-moz-border-radius:28px;
 	border-radius:28px;
 	border:1px solid #d02718;
 	display:inline-block;
 	color:#ffffff;
 	font-family:Comic Sans MS;
 	font-size:15px;
 	font-weight:bold;
 	height:45px;
 	line-height:45px;
 	width:121px;
 	text-decoration:none;
 	text-align:center;
 	text-shadow:1px 1px 0px #810e05;
  position: absolute;
  right: 15%;
  bottom: 0;
  margin-bottom: 10px;
 }

 .formCreate-button:hover {
 	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
 	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
 	background-color:#c62d1f;
 }

.signup{
  background-color: blue;
}

.signup:hover{
  background: #003366;
}

.footer-row {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-left: 10%;
  margin-right: 10%;
  bottom:0;
}

.footer-list{
 color:white;
 display: table-cell;
 text-align: center;
 padding: 3px;
}

.footer-list li{
	display:inline-block;
	color:#ffffff;
	font-family:Courier New;
	font-size:17px;
	font-weight:normal;
	font-style:normal;
	height:32px;
	line-height:32px;
	width:100px;
	text-align:center;
  float:left;
}


.footer-button:hover {
	color:black;
  cursor:pointer;
  list-style-type:circle;
}

h1 {
  text-font: comic;
  margin-top:0;
}

li {
  list-style-type:none;
}

.group:after {
  content:"";
  clear:both;
  display:block;
}

.main {
  width:100%;
  height: 100%;
  background-image: url('sandpaper.png');
  image:repeat;
  z-index: -5;
}

.title {
  color: #FFCC00;
  font-family: 'Bangers', cursive;
  letter-spacing: 3px;
  font-size: xx-large;
  text-shadow: black 0.3em 0.3em 0.4em
}

.shadow-test {
box-shadow: 1px 1px 5px #000000;
-moz-box-shadow: 1px 1px 5px #000000;
-webkit-box-shadow: 1px 1px 5px #000000;
}

.input_field_container{
  border-radius:20px;
  background:lightblue;
  margin-left:20px;
  margin-top:20px;
  border: 2px solid white;
  width: 40%;
  height:100%;
  float:left;
  clear:left;
}

.input_field_container li{
  list-style: none;
}

.input_field_container button{
  -moz-box-shadow: inset 0px 1px 0px 0px #bee2f9;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bee2f9;
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, rgb(99, 184, 238)), to(rgb(70, 140, 207)));
  background-color: #63b8ee;
  background: -moz-linear-gradient(center top, #63b8ee 5%, #468ccf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
  background-color: #63b8ee;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bee2f9;
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  -moz-box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: -moz-linear-gradient(center top, #63b8ee 5%, #468ccf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  text-indent: 0px;
  border: 1px solid #3866a3;
  display: inline-block;
  color: #14396a;
  font-family: Comic Sans MS;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  height: auto;
  width: auto;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #7cacde;
  cursor: pointer;
  margin-top: 15px;
}

.input_field_container button:hover{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, rgb(70, 140, 207)), to(rgb(99, 184, 238)));
  background-color: #468ccf;
  background: -moz-linear-gradient(center top, #468ccf 5%, #63b8ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
  background-color: #468ccf;
}

.input_field_container .submit-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #bee2f9;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bee2f9;
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, rgb(99, 184, 238)), to(rgb(70, 140, 207)));
  background-color: #63b8ee;
  background: -moz-linear-gradient(center top, #63b8ee 5%, #468ccf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
  background-color: #63b8ee;

  -webkit-box-shadow: inset 0px 1px 0px 0px #bee2f9;
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  -moz-box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: -moz-linear-gradient(center top, #63b8ee 5%, #468ccf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  text-indent: 0px;
  border: 1px solid #3866a3;
  display: inline-block;
  color: #14396a;
  font-family: Comic Sans MS;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  height: auto;
  width: auto;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #7cacde;
  cursor: pointer;
}

.input_field_container .submit-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, rgb(70, 140, 207)), to(rgb(99, 184, 238)));
  background-color: #468ccf;
  background: -moz-linear-gradient(center top, #468ccf 5%, #63b8ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
  background-color: #468ccf;
}

.display_field_container{
  border-radius:20px;
  background:lightblue;
  margin-top:20px;
  float:right;
  clear:right;
  margin-right:3%;
  border: 2px solid white;
  width:40%;
  margin-bottom: 10%;
}

.display_field_container .styled_display_field_container_button{
  -moz-box-shadow: inset 0px 1px 0px 0px #bee2f9;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bee2f9;
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, rgb(99, 184, 238)), to(rgb(70, 140, 207)));
  background-color: #63b8ee;
  background: -moz-linear-gradient(center top, #63b8ee 5%, #468ccf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
  background-color: #63b8ee;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bee2f9;
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  -moz-box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: -moz-linear-gradient(center top, #63b8ee 5%, #468ccf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  text-indent: 0px;
  border: 1px solid #3866a3;
  display: inline-block;
  color: #14396a;
  font-family: Comic Sans MS;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  height: auto;
  width: auto;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #7cacde;
  cursor: pointer;
}

.display_field_container .styled_display_field_container_button:hover{
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.05, rgb(70, 140, 207)), to(rgb(99, 184, 238)));
  background-color: #468ccf;
  background: -moz-linear-gradient(center top, #468ccf 5%, #63b8ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
  background-color: #468ccf;
}

.display_field_container #delete_button {
  margin-right:10px;
  margin-left:10px;
}

.code-display-container{
  margin-right:10%;
  margin-left:10%;
  margin-bottom:5%;
  width:80%;
  height:80%;
  background-color:lightblue;
}

.display_field_container > ul > li {
  overflow:auto;
}

.submit_botton{
  align:center;
}

.input_field{
  background:lightblue;
  padding:5px;
  border-radius:20px;
  vertical-align: top;
}

.input-choice {
  border: 2px solid black;
  border-radius:20px;
  padding:3px;
}

.entry-li {
  position:relative;
}

.edit-delete-buttons{
  vertical-align: top;
  height: 250px;
  display: table-cell;
}

  .edit-delete-buttons-wrapper{
    position: absolute;
    right: 43%;
  }

.display_field{
  background:white;
  border-radius:25px;
  border: 2px solid black;
  height: 100%;
}

.display_field:after{
  content:" ";
  display:table;
  clear:both;
}

.display_field > form >  ul{
  margin:15px;
}

.display_field > form > ul:after{
    content:"";
    clear:both;
    display:block;
}

#entry-choices {
  display:inline-block;
}

.style_button_container nav button{
  -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  	box-shadow:inset 0px 1px 0px 0px #bee2f9;
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
  	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
  	background-color:#63b8ee;
  	-webkit-border-radius:42px;
  	-moz-border-radius:42px;
  	border-radius:42px;
  	border:1px solid #3866a3;
  	display:inline-block;
  	color:#14396a;
  	font-family:Comic Sans MS;
  	font-size:15px;
  	font-weight:bold;
  	font-style:italic;
  	height:auto;
  	width:auto;
  	text-decoration:none;
  	text-align:center;
  	text-shadow:1px 1px 0px #7cacde;
    cursor: pointer;
}

.style_button_container nav button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}

.email-buttons {
  width:auto;
}

.email-buttons input{
  -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  	box-shadow:inset 0px 1px 0px 0px #bee2f9;
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
  	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
  	background-color:#63b8ee;
  	-webkit-border-radius:42px;
  	-moz-border-radius:42px;
  	border-radius:42px;
  	border:1px solid #3866a3;
  	display:inline-block;
  	color:#14396a;
  	font-family:Comic Sans MS;
  	font-size:15px;
  	font-weight:bold;
  	font-style:italic;
  	height:auto;
  	width:auto;
  	text-decoration:none;
  	text-align:center;
  	text-shadow:1px 1px 0px #7cacde;
    cursor: pointer;
    display:inline-block;
}

.email-buttons input:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}


.hidden {
  display:none;
}

.new-user-container {
    color:black;
    width: 10%;
    clear: both;
    border-radius: 25px;
    background-color: white;
    padding:15px;
    margin:20px;
    border: 2px solid black;
}
.new-user-container input {
    width: 100%;
    clear: both;
}


.display_field {
  padding: 10px;
  height:auto;
  width:auto;
}

.display-row{
  display:inline-block;
  height: auto;
  width:auto;
  border-top:1px grey solid;
}

.code-display-container > tbody:first-child{
  border-style:hidden;
}

.right-display-column{
  float:left;
  clear:left;
  height:100%;
  width: 45%;
  margin-left:10px;
  margin-right:10px;
}


.left-display-column{
  float:right;
  width: 45%;
  padding-left:10px;
  word-wrap:break-word;
  overflow:auto;
  height:100%;
}

.format_commit_button {
  background-color:black;
  color:white;
}


/*STYLE 1*/

.layout1-header {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  text-align: center;
  border: 2px solid black;
  text-decoration:none;
}

.layout1-ul {
  padding-top: 15px 0;
  border-bottom: 2px solid black;
  text-decoration:none;
}

.layout1-li {
  cursor:pointer;
  text-decoration:none;
  list-style: none;
  padding: 10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

/*STYLE 2*/

.layout2-header {
  font-family: 'Allerta', Helvetica, Arial, sans-serif;
  text-align: center;
  border: 2px solid black;
  text-decoration:none;
}

.layout2-ul {
  padding-top: 15px 0;
  border-bottom: 2px solid black;
  text-decoration:none;
}

.layout2-li {
  font-family: 'Crimson Text', Georgia, Times, serif;
  cursor:pointer;
  text-decoration:none;
  list-style: none;
  padding: 10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/*STYLE 3*/

.layout3-header {
  font-family: 'Allan', Helvetica, Arial, sans-serif;
  text-align: center;
  border: 2px solid black;
  text-decoration:none;
}

.layout3-ul {
  padding-top: 15px 0;
  border-bottom: 2px solid black;
  text-decoration:none;
}

.layout3-li {
  font-family: 'Cardo', Georgia, Times, serif;
  cursor:pointer;
  text-decoration:none;
  list-style: none;
  padding: 10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/*STYLE 4*/

.layout4-header {
  font-family: 'Molengo', Georgia, Times, serif;;
  text-align: center;
  border: 2px solid black;
  text-decoration:none;
}

.layout4-ul {
  padding-top: 15px 0;
  border-bottom: 2px solid black;
  text-decoration:none;
}


.layout4-li {
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
  cursor:pointer;
  text-decoration:none;
  list-style: none;
  padding: 10px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}


/*STYLE 5*/


.layout5-header {
  margin:0;
  padding:0;
  border:0;
  font-family:sans-serif;
  display:inline-block;
  text-decoration:none;

}

.layout5-ul {
  margin:0;
  padding:0;
  border:0;
  font-family:sans-serif;
  display:inline-block;
  text-decoration:none;
}


.layout5-li {
  margin:0;
  padding:0;
  border:0;
  font-family:sans-serif;
  display:inline-block;
  cursor:pointer;
  text-decoration:none;
}

/*COLOR 1*/

.color1{
  background-color: #49A8A8;
  border-radius:0;
}

.color1-background{
  background-color: #5772AF;
  border: 2px solid black;
  border-radius:0;
}

/*COLOR 2*/

.color2{
  background-color: #B4A381;
  border-radius:0;
}

.color2-background{
  background-color: #694242;
  border: 2px solid black;
  border-radius:0;
}

/*COLOR 3*/

.color3{
  background-color: #9D74A1;
  border-radius:0;
}

.color3-background{
  background-color: #5C3946;
  border: 2px solid black;
  border-radius:0;
}

/*COLOR 4*/

.color4{
  background-color: #E8C5B1;
  border-radius:0;
}

.color4-background{
  background-color: #5E8B7F;
  border: 2px solid black;
  border-radius:0;
}

/*COLOR 5*/

.color5{
  background-color: white;
}

.color5-background{
  background-color: #A3A3A3;
  border: 2px solid black;
}

/*COLOR 6*/

.color6{
  background-color: white;
  border-radius:0;
}

.color6-background{
  background-color: white;
  border-radius:0;

}


