body, ul, li, div, section, header, footer, table, td, th, tr, nav {
  margin:0;
  padding:0;
  border:0;
  font-family:sans-serif;
}

h1 {
  text-font: comic;
}

.group:after {
  content:"";
  clear:both;
  display:block;
}


.main {
  width:100%;
  height: 100%;
  background-image: url('sandpaper.png');
  image:repeat;
  bottom:0;
  position:absolute;
  z-index: -5;
}

.display1 {
  background: #a90329;
  background: -moz-radial-gradient(center, ellipse cover, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
  background: -webkit-radial-gradient(center, ellipse cover, #a90329 0%,#8f0222 44%,#6d0019 100%);
  background: -o-radial-gradient(center, ellipse cover, #a90329 0%,#8f0222 44%,#6d0019 100%);
  background: -ms-radial-gradient(center, ellipse cover, #a90329 0%,#8f0222 44%,#6d0019 100%);
  background: radial-gradient(ellipse at center, #a90329 0%,#8f0222 44%,#6d0019 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 );
  height:auto;
  padding-bottom:20px;
  margin: 10px;
  border-radius:25px;
}


.shadow-test {
box-shadow: 1px 1px 5px #000000;
-moz-box-shadow: 1px 1px 5px #000000;
-webkit-box-shadow: 1px 1px 5px #000000;
}


.input_field_container{
  border-radius:20px;
  float:left;
  clear:left;
  background:green;
  margin-left:20px;
  margin-top:20px;
  margin-right:20px;
  border: 2px solid white;
  padding: 10px;
  width: 40%;
  height:100%;
}

.input_field_container li{
  list-style: none;
}


.display_field_container{
  border-radius:20px;
  float:right;
  clear:right;
  background:green;
  margin-right:20px;
  margin-top:20px;
  margin-right:20px;
  border: 2px solid white;
  padding: 10px;
  width: 45%;
  height:100%;
}

.display_field_container > ul > li {
  overflow:auto;
}

.submit_botton{
  align:center;
}



.input_field{
  background:lightblue;
  padding:5px;
  border-radius:20px;
}

.input_field {
  vertical-align: top;
}

.input-choice {
  border: 2px solid black;
    border-radius:20px;
    padding:3px;
}

.style_button_container{


}

.style_button_container nav{

}

.style_button_container nav button{
  -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
  	box-shadow:inset 0px 1px 0px 0px #bee2f9;
  	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
  	background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
  	background-color:#63b8ee;
  	-webkit-border-radius:42px;
  	-moz-border-radius:42px;
  	border-radius:42px;
  	text-indent:0px;
  	border:1px solid #3866a3;
  	display:inline-block;
  	color:#14396a;
  	font-family:Comic Sans MS;
  	font-size:15px;
  	font-weight:bold;
  	font-style:italic;
  	height:50px;
  	line-height:43px;
  	width:auto;
  	text-decoration:none;
  	text-align:center;
  	text-shadow:1px 1px 0px #7cacde;
    cursor: pointer;
}

.display_field{
  background:white;
  border-radius:25px;
  border: 2px solid black;
  height: 100%;
}

.display_field:after{
  content:" ";
  display:table;
  clear:both;
}

.display_field > form >  ul{
  margin:15px;
}

.display_field > form > ul:after{
    content:"";
    clear:both;
    display:block;
}


.style_button_container nav button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
	background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
	background-color:#468ccf;
}

.hidden {
  visibility:collapse;
  display:none;
}


/*STYLE 1*/

.style1-header {
  text-align: center;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  text-decoration: underline;
  border-radius: 25px;
  padding: 5px 0;
  border: 2px solid black;
}

.style1-ul {
  padding-top: 15px 0;
  border: 2px solid black;
  border-radius: 10px 10px;
}


.style1-li {
  list-style:none;
  padding:10px;
  border-bottom: 2px solid black;
  font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
}

/*STYLE 2*/

.style2-header {

  font-family: font-family: 'Allerta', Helvetica, Arial, sans-serif;
  padding-bottom: 20px;
  padding-top:10px;
  border: 1px solid black;
  float:right;
  width:30%;
  height:auto;
  border-radius: 10px 10px;
  text-align:center;
}

.style2-ul {
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px 10px;
  width:auto;
}


.style2-li {
  list-style:none;
  padding:10px;
  border-bottom: 2px solid black;
  font-family: 'Crimson Text', Georgia, Times, serif;
  width:auto;
  float:left;
}

/*STYLE 3*/

/*NOTE: In order to get these columns to maintain same height, would likely need to inject javascript somehow*/

.style3-header {
  font-family: 'Allan', Helvetica, Arial, sans-serif;
  border-radius: 25px;
  padding: 5px 0;
  border: 2px solid black;
  text-decoration: underline;
  float:left;
  width:30%;
  height:380px;
  clear:left;
  padding:5px;
  margin-top:10px;
  padding-bottom:auto;
}

.style3-ul {
  border: 2px solid black;
  border-radius: 10px 10px;
  float:right;
  clear:right;
  height:100%;
  width:55%;
  padding: 0 5px;
  padding-bottom:auto;
  padding-top:auto;
}


.style3-li {
  list-style:none;
  padding:10px;
  border-bottom: 2px solid black;
  font-family: 'Cardo', Georgia, Times, serif;
}


/*STYLE 4*/

.style4-header {
  font-family: 'Molengo', Georgia, Times, serif;;
  border-radius: 25px;
  padding: 5px 0;
  border: 2px solid black;
  text-decoration: underline;
  float:right;
  clear:both;
  width:30%;
  height:380px;
  clear:left;
  padding:5px;
  margin-top:10px;
  padding-bottom:auto;
}

.style4-ul {
  border: 2px solid black;
  border-radius: 10px 10px;

  height:100%;
  width:55%;
  padding: 0 5px;
  padding-bottom:auto;
  padding-top:auto;
}


.style4-li {
  list-style:none;
  padding:10px;
  border-bottom: 2px solid black;
  font-family: 'Lekton', Helvetica, Arial, sans-serif;
}

/*STYLE 5*/

.style5-header {
  font-family: font-family: 'Corben', Georgia, Times, serif;
  border-radius: 25px;
  padding: 5px 0;
  border: 2px solid black;
  text-align:center;
  height:auto;
  padding:5px;
  margin-top:10px;
  padding-bottom:auto;
  alignment:center;
  top:500px;

}

.style5-ul {
  border: 2px solid black;
  border-radius: 10px 10px;

  height:100%;
  padding: 0 5px;
  margin-bottom:600px;
  padding-top:auto;
}


.style5-li {
  list-style:none;
  padding:10px;
  border-bottom: 2px solid black;
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.color1{
  background-color: #694242;
}

.color1-background{
  background-color: #B4A381;
}
