<div>

<%= form_tag("/search", :method => "get") do %>
<%= text_area_tag(:message, "Hi, nice site", :size => "24x6") %>
<%= submit_tag("Submit") %>
<% end %>

</div>


<div>


  <% form_info = [{input_tag_type: 'text_area', id: 'message-id', name: 'message-name', size: "24x6"}, {input_tag_type: 'password_field', id: 'password-id', name: 'password-id'}, {input_tag_type: 'check_box', id: 'check_id', name: 'check_name'}] %>

<%= form_gen(form_info) %>
</div>

