<footer class='display4 center-horizontal padding-sides shadow-test group'>
  <div class="footer-row group">
    <nav class="footer-list">
      <h3>About Us</h3>
      <ul class='nav-bar'>
        <li class="footer-button">Test</li>
        <li class="footer-button">Test</li>
        <li class="footer-button">Test</li>
      </ul>
    </nav>
    <nav class="footer-list">
      <h3>Support</h3>
      <ul class='nav-bar'>
        <li class="footer-button">Test</li>
        <li class="footer-button">Test</li>
        <li class="footer-button">Test</li>
      </ul>
    </nav>
    <nav class="footer-list">
      <h3>Contact</h3>
      <ul class='nav-bar'>
        <li class="footer-button">Test</li>
        <li class="footer-button">Test</li>
        <li class="footer-button">Test</li>
      </ul>
    </nav>
    <nav class="footer-list">
      <h3>Legal</h3>
      <ul>
        <li class="footer-button">Test</li>
        <li class="footer-button">Test</li>
        <li class="footer-button">Test</li>
      </ul>
    </nav>
  </nav>
  </footer>