<section class='display3 center-horizontal padding-sides shadow-test'>

  <!-- NOTE: MAY WANT TO SWAP THIS OUT FOR DISPLAY OF ALL PROJECTS.  THIS SHOULD BE PART OF THE NEW SESSION SCREEN -->

<section class='group display2 center-horizontal padding-sides shadow-test'>
  <nav class="nav-bar">
    <a class="button-link nav-button" href="...">About Us</a>
    <a class="button-link nav-button" href="...">Blog</a>
    <a class="button-link nav-button" href="...">Pricing</a>
    <a class="button-link nav-button" href="...">Gallery</a>
  </nav>
</section>


  <section class="content-body">
  <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</article>
</br>
    <article>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</article>
  </br>
      <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</article>
  </section>
</section>

</section>
